#filters-bar .first-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#filters-bar .first-part > * {
  margin: 0 15px;
}

#filters-bar .first-part .searchbar {
  min-width: 45%;
}
