/* 
COLORS:
- Orange Glow:
RGB [ 222, 112, 40 ]
Hex #DE7028
CMYK [ 9, 68, 99, 1 ] 

- Medical Blue: 
RGB [ 29, 110, 222 ]
Hex #1D6EDE
CMYK [ 81, 58, 0, 0 ]

Fonts: Comfortaa, Assistant
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-family: 'Comfortaa', cursive;
}